<template>
  <ul>
    <li v-for="route of routes">
      <router-link :to=" route.path ? route.path : '/' ">{{route.titulo}}</router-link>
    </li>
  </ul>
</template>

<script>
  import { routes } from '../../../routes.js'
  export default {
    data () {
      return {
        routes
      }
    }
  }
</script>

<style lang="sass" scoped>
@import './navMenu'
</style>
