@import './../../../css/vars'
ul
  text-align: center
  padding: 20px

li
  display: inline-block
  list-style: none
  margin-right: 10px
  &:last-child
    margin-right: 0

a
  font-size: 20px
  color: darken($bg,20%)
