<template>
  <div class="home">
    <h1>{{ titulo }}</h1>


    <div id="carousel1" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel1" data-slide-to="0" class="active"></li>
        <li data-target="#carousel1" data-slide-to="1"></li>
      </ol>

      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="/statics/frango.gif" alt="Frango">
        </div>
        <div class="item">
          <img src="/statics/frango.gif" alt="Frango">
        </div>
      </div>

      <a class="left carousel-control" href="#carousel1" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </a>
      <a class="right carousel-control" href="#carousel1" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </a>
    </div>


  </div>
</template>

<script>
export default {
  data () {
    return {
      titulo: 'Home'
    }
  }
}
</script>

<style lang="sass" scoped>
.carousel
  width: 450px
  margin: 30px auto 0

.carousel-control.left,
.carousel-control.right
  background: none
  span
    color: #fff
</style>
