@import './vars'

*
  color: darken($color, 10%)
  font-weight: 100

body
  background: $bg
  margin: 0

a
  text-decoration: none
  color: #000

ul
  padding: 0
  margin: 0

h1,
h2,
h3,
h4,
h5,
h6
  margin: 0

button,
select,
input
  &:focus
    outline: 0

h1
  text-align: center
  font-weight: 100

img
  display: block
  margin: 0 auto
