<template>
  <div class="sobre">
    <h1>{{ titulo }}</h1>
    <p>{{ texto }}</p>

    <pre>
    api: http://viacep.com.br/ws/01001000/json/
    </pre>
    <pre>{{ endereco }}</pre>

    <table>
      <tr v-for="(value, key) in endereco">
        <td>{{ key }}</td>
        <td>{{ value }}</td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      titulo: 'Sobre',
      texto: 'Exemplo de coneção a uma API',
      endereco:{}
    }
  },
  created () {
    this.$http.get('http://viacep.com.br/ws/01001000/json/')
      .then(res => res.json())
      .then(endereco => this.endereco = endereco, err => console.log(err))
  }
}
</script>

<style lang="sass" scoped>
@import './sobre.sass'
</style>
